.dart_tool/
.packages
.pub/
build/
coverage/

.flutter-plugins
.flutter-plugins-dependencies

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

android/.gradle/
android/local.properties

ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

macos/Pods/
macos/Flutter/ephemeral/

linux/flutter/ephemeral/
windows/flutter/ephemeral/

no_cache_server.py
